
.v-dialog__content {
	font-family: 'Quantico', sans-serif;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	width: 100%;
	outline: none;

	::v-deep .v-dialog {
		background-color: #232323;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
		border-radius: 2px;
		margin: 5% !important;

		.card {
			display: grid;
			grid-template-rows: auto 1fr auto;
			grid-template-columns: 1fr;

			gap: 10px;
			padding: 5%;

			overflow: hidden;
			min-height: 120px;
			color: ivory;

			.loader {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				opacity: 0;
				transition: 0.5s opacity ease-in-out;

				&::before {
					font-family: FontAwesome;
					content: '\f00c';

					position: absolute;
					font-size: 20px;
					color: white;

					opacity: 0;
					transition: opacity 1s ease-in-out;
				}

				&::after {
					font-family: FontAwesome;
					content: '\f00d';

					position: absolute;
					font-size: 20px;
					color: white;

					opacity: 0;
					transition: opacity 1s ease-in-out;
				}

				&.loading {
					opacity: 1;

					svg {
						animation: rotator 1.4s linear infinite;

						circle {
							animation: dash 1.4s ease-in-out infinite;
						}
					}
				}

				&.failure {
					opacity: 1;

					&::after {
						opacity: 1;
					}

					svg > circle {
						fill: rgb(217, 83, 79);
						stroke-width: 0;
					}
				}

				&.done {
					opacity: 1;

					&::before {
						opacity: 1;
					}

					svg > circle {
						fill: rgb(92, 184, 92);
						stroke-width: 0;
					}
				}

				svg > circle {
					stroke: #0060CE;
					stroke-dasharray: 124;
					stroke-dashoffset: 0;

					transform-origin: center;
					fill: transparent;

					transition: fill 1s ease-in-out, stroke-width 0.5s ease-in-out;
				}
			}

			.title {
				font-size: 1.3rem !important;

				text-align: center;
			}

			.content {
				line-height: normal;

				.choice:first-child {
					margin-bottom: 2.5%;
				}

				input, textarea {
					padding: 3.5%;

					border: 1px solid #1a1a1a;
					background: #242424;
					color: #afafaf;

					resize: none;
					outline: none;
					overflow: hidden;
				}

				input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}

			.buttons {
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-content: center;
				gap: 5px;

				button {
					font-size: 0.8rem;
					margin: 0 !important;
					padding: 0 5px;
					font-family: "Quantico", sans-serif;
					font-weight: bold;
				}
			}

			.errors {
				display: grid;
				gap: 5px;

				.error {
					border: none;
					background: none;

					font-size: 0.7rem;
					color: #f05454;
				}
			}
		}
	}

	@keyframes rotator {
		0% {
			transform: rotate(0);
		}

		100% {
			transform: rotate(270deg);
		}
	}

	@keyframes dash {
		0% {
			stroke-dashoffset: 124;
		}

		50% {
			stroke-dashoffset: 30;
			transform: rotate(135deg);
		}

		100% {
			stroke-dashoffset: 124;
			transform: rotate(450deg);
		}
	}
}