html, .container {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: flex-start;
    z-index: 999;
    padding: 3% 0;

    .top-bar {
        display: flex;
        align-items: center;
        color: black;
        height: 6%;
        padding: 0 6%;
        padding-bottom: 3%;
		width: 100%;
		justify-content: center;

		.search-wrapper {
            width: 85%;
            height: 100%;
            border-radius: 2px;
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            margin-right: 5%;

            input {
                outline: none;
                width: 90%;
                padding: 0 1%;
                color: black;

                &::placeholder, &:focus {
                    color: black;
                }
            }
        }

        .fa-plus-circle {
            width: 10%;
        }

        .fa-search {
            width: 12%;
        }

        .fa-plus-circle, .fa-search {
            padding: 2px;
            height: 100%;
        }
    }

    .adverts-list {
        height: 94%;
        width: 100%;
        overflow-y: scroll;
        background-color: white;
        box-shadow: 0px 0px 5px 0px rgba(219, 219, 219, 1);
        padding: 5%;
        border-top: solid 1px #d6d6d6;
        border-bottom: solid 1px #d6d6d6;
        display: flex;
        flex-wrap: nowrap;
        border-radius: 10px;
        flex-direction: column;
        flex-flow: column;
		justify-content: flex-start;
        position: relative;

        &::-webkit-scrollbar {
            display: none;
		}

		.empty-list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;

			svg {
				width: 100%;
    			height: 15%;
			}

			span {
				width: 100%;
				text-align: center;
				font-size: 0.9rem;
				margin-top: 5%;
			}
		}

		& > div {
			overflow: auto;

			&::-webkit-scrollbar {
				display: none;
			}

			.advert {
				margin: 2%;

				.advert-square {
					height: fit-content;
					width: 100%;

					position: relative;
					display: flex;

					align-items: center;
					flex: 0 1 auto;
					flex-direction: column;
					border-radius: 2px;
					background: #fddb3a;
					text-align: left;
					box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
					color: black;
					margin-bottom: 5%;

					::v-deep > * {
						width: 100%;
					}

					::v-deep .content {
						font-size: 0.7rem;
						padding: 3% 3%;
					}

					::v-deep .info {
						background-color: transparent !important;
						display: flex;
						font-size: 0.59rem;
						align-items: center;
						border-top: solid 1px grey !important;
						padding: 1% 2.5%;

						& > * {
							width: 49%;

							svg {
								margin-right: 3%;
								font-size: 0.58rem;
							}
						}

						& > :first-child {
							margin-right: 2%;
						}

						.name {
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							text-align: left;
						}

						.number {
							text-align: right;
						}
					}
				}
			}
		}
	}
}