html, .container {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;

    font-family: 'Quantico', sans-serif;

    .spawnList{
        display: flex;
        position: absolute;
        flex-direction: column;
        height: fit-content;
        width: 12%;

        top: 20%;
        right: 10%;

        .button {
            background-color: rgb(12, 12, 12);
            color: rgb(166, 166, 166);
            text-align: center;
            border-radius: 2px;
            padding: 2%;

            margin-top: 2.5%;
            font-size: 0.8rem;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        }

        .spawn {
            color: white;
            margin-top: 3%;
            background-color: #B71C1C;
        }


    }
}