.messages {
	font-family: 'Quantico', sans-serif;

	display: grid;
	grid-template-rows: auto 1fr;
	gap: 5px;

	.top {
		display: grid;
		grid-template-columns: 1fr auto;
		padding: 0 6%;

		gap: 5px;
		font-size: 0.8rem;
		align-items: center;

		.search-wrapper {
			display: flex;
			align-items: center;

            input {
				font-family: 'Quantico', sans-serif;

                outline: none;
                width: 90%;
				padding: 0 1%;

				color: black;
				font-weight: bold;

				background-color: transparent;
    			border: none;

                &::placeholder, &:focus {
                    color: black;
                }
            }
		}
	}

	.list {
		display: flex;
		flex-direction: column;
		flex-flow: column;
		flex-wrap: nowrap;

		background-color: white;
		border-top: solid 1px #d6d6d6;
		border-bottom: solid 1px #d6d6d6;
		justify-content: flex-start;

		overflow-y: scroll;
		padding: 2%;
		border-radius: 10px;
		box-shadow: 0px 0px 5px 0px rgba(219, 219, 219, 1);

		&::-webkit-scrollbar {
            display: none;
		}

		&.empty {
			display: flex;
			flex-direction: column;
			justify-content: center;

			svg {
				width: 100%;
				height: 15%;
			}

			span {
				text-align: center;
				font-size: 0.9rem;
				font-weight: bold;

				margin-top: 5%;
			}
		}

        .message {
			min-height: 44.5px;
            height: fit-content;

            position: relative;
			display: flex;
			align-items: center;

            padding: 1%;
            border-bottom: solid 1px rgba(219, 219, 219, 1);

			.v-avatar {
				display: flex;
    			align-items: center;
				justify-content: center;

				border-radius: 30px;
				color: white;

				svg {
					font-size: 0.8rem !important;
				}
			}

			.information {
				position: relative;
				width: 100%;

				margin: 0;
				flex-direction: column;

				* {
					margin: 0 4%;
				}

				.name {
					width: 70%;
					font-size: 0.75rem;

					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden
				}

				.last-message {
					width: 90%;
					margin-top: 1%;
					padding: 1%;

					font-size: 0.55rem;
					color: rgb(138, 138, 138, 0.87);
				}

				.time {
					position: absolute;
					justify-content: flex-end;
					align-items: normal;

					right: 0;
					top: 10%;
					max-width: 40%;

					font-size: 0.45rem;
					color: rgb(138, 138, 138, 0.87);
				}
            }
        }
	}
}