@font-face {
	font-family: pcdown;
	src: url(pdown.ttf);
}

.tiny {
	font-size: 25px;
	position: absolute;
	right: 10;
}

#money {
    display: none;
	font-family: pcdown;
	font-size: 30px;
	color: white;
	padding: 4px;
	text-shadow:
		-1px -1px 0 #000,
		 1px -1px 0 #000,
		-1px 1px 0 #000,
		 1px 1px 0 #000;
}

#container {
	position: absolute;
	top: 40;
	right: 40;
}