html {
	overflow: hidden;
}

.minimap {
	position: absolute;
}

.bar {
	height: 12.823529411%;
	left: 2.725%;
	right: 2.725%;;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: -3.070588235%;
	align-items: center;
	justify-content: center;
}

.bar > * {
	width: 100%;
	height: 50% !important;
}

.sub-bar > * {
	width: 100%;
}

.status-bar > * {
	width: 100%;
}

.bar > *:first-child {
	margin-left: 0 !important;
}

.bar > *:last-child {
	margin-right: 0 !important;
}

.sub-bar {
	width: 50%;
	display: flex;
}

.status-bar {
	width: 100%;
	display: flex;
}

.health {
	width: 50%;
	box-sizing: border-box;
    border: 2px solid rgba(54, 52, 52, 0.8);
	background-color: #545454;
}

.sub-health {
	height: 100%;
	background-color: #73be73;
	transition: 0.2s ease-in-out;
}

.armour {
	box-sizing: border-box;
    border: 2px solid rgba(54, 52, 52, 0.8);
	background-color: #545454;
}

.sub-armour {
	height: 100%;
	background-color: #6a89cc;
	transition: 0.2s ease-in-out;
}

.breath {
	display: none;
}

.breath.active {
	display: block;
	border: 2px solid rgba(54, 52, 52, 0.8);
	background-color: #545454;
}

.sub-breath {
	height: 100%;
	background-color: rgba(130, 210, 255, 0.93);
	transition: 0.2s ease-in-out;
}

.hunger {
	box-sizing: border-box;
    border: 2px solid rgba(54, 52, 52, 0.8);
	background-color: #545454;
}

.sub-hunger {
	height: 100%;
	background-color: #f6b93b;
	transition: 0.2s ease-in-out;
}

.thirst {
	box-sizing: border-box;
    border: 2px solid rgba(54, 52, 52, 0.8);
	background-color: #545454;
}

.sub-thirst {
	height: 100%;
	background-color: #4d79ff;
	transition: 0.2s ease-in-out;
}

.stress {
	box-sizing: border-box;
    border: 2px solid rgba(54, 52, 52, 0.8);
	background-color: #545454;
}

.sub-stress {
	height: 100%;
	background-color: #c70039;
	transition: 0.2s ease-in-out;
}

.voice {
	box-sizing: border-box;
    border: 2px solid rgba(54, 52, 52, 0.8);
	background-color: #545454;
}

.sub-voice {
	height: 100%;
	background-color: #cecece;
	transition: 0.2s ease-in-out;
}