body {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

body, html, div {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	color: white;
}

button {
	font-size: 16px;
}

div.info {
	margin: 15px 0;
}

text {
	overflow-wrap: break-word !important;
	max-width: 10px;
}

div.info * {
	color: white;
	text-shadow: 1px 1px 0 #000000D0;
}

.menuHolder {
    display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#icons {
	display: none;
}