@font-face {
    font-family: pcdown;
    src: url(./pdown.ttf);
}

.currency {
	position: absolute;
	top: 5vh;
	right: 3vw;
	width: fit-content;

	font-family: pcdown;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: white;
	padding: 12px;
	margin-right: auto;
	margin-left: auto;

	.money, .inner-container {
		animation-duration: 2s;
		animation-fill-mode: both;
		animation-name: fadeIn;
	}

	.money {
		font-size: 30px;
		padding: 4px;

		span {
			color: rgba(0, 125, 0, 1.0);
		}
	}

	.inner-container {
		font-size: 20px;
		position: absolute;
		right: 1.3vw;
		bottom: 0.1vh;
		white-space: nowrap;

		.add {
			color: rgba(195, 211, 195, 1.0);
		}

		.remove {
			color: rgba(250, 0, 0, 1.0);
		}
	}
}