@font-face {
    font-family: pcdown;
    src: url(./pdown.ttf);
}

.currency {
	position: absolute;
	top: 5vh;
	right: 3vw;
	width: fit-content;

	font-family: pcdown;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	color: white;
	padding: 12px;
	margin-right: auto;
	margin-left: auto;

	.fadeInOut-enter-active {
		animation: fadeInRight 1s;
	}

	.fadeInOut-leave-active {
		animation: fadeOutRight 1s;
	}

	.fadeInOut-enter, .fadeInOut-leave-to, .fade-enter, .fade-leave-to {
		opacity: 0;
	}

	.inner-container {
		width: 100%;
		height: 100%;

		.fade-enter-active {
			animation: fadeIn 1s;
		}

		.fade-leave-active {
			animation: fadeOut 1s;
		}

		.money {
			font-size: 30px;
			padding: 4px;

			span {
				color: rgba(0, 125, 0, 1.0);
			}
		}

		.transaction {
			font-size: 20px;
			position: absolute;
			right: 1.3vw;
			bottom: 0.1vh;
			white-space: nowrap;

			.add {
				color: rgba(70, 187, 70, 1.0);
			}

			.remove {
				color: rgba(250, 0, 0, 1.0);
			}
		}
	}
}