.history {
	display: grid;
	grid-template-rows: auto 1fr;

	.q-toolbar {
		gap: 20px;

		&::v-deep .q-field__control,
		&::v-deep .q-field__marginal {
			height: 30px;

			&.q-field__marginal {
				font-size: 14px;
			}
		}

		.fa-phone-alt {
			font-size: 16px;
			color: rgba(255, 255, 255, 0.7);

			&:hover {
				color: ivory;
			}
		}
	}

	.content {
		padding: 0 12px;

		.q-list {
			.q-expansion-item {
				background: #181818;
				border-radius: 5px;
				margin-bottom: 5px;
				overflow: hidden;

				&::v-deep .state {
					font-size: 18px;
					color: #2e7d32;

					&.incoming {
						color: #b71c1c;
					}
				}

				&::v-deep .q-item__label {
					font-size: 12px;

					&.text-caption {
						font-size: 10px;
					}
				}

				.q-card__actions > .q-icon::v-deep {
					font-size: 10px;
				}
			}

			&::v-deep .q-item__section:last-child {
				display: none;
			}
		}

		&.empty {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			color: white;

			font-size: 0.8rem;
			font-weight: 400;
			line-height: 1.3rem;
			letter-spacing: 0.03333em;
			text-align: center;

			i {
				font-size: 7.5rem;
				margin-bottom: 15px;
			}
		}
	}
}
