.skincreator {
	font-family: 'Quantico', sans-serif;
	position: absolute;

	top: 50%;
	right: 1.5%;
	transform: translateY(-50%);

	width: 400px;
    max-width: 400px;

	display: grid;
	grid-template-rows: 64px 10fr;
	gap: 10px;

	.categories, .container, .footer {
		background-color: rgba(35, 35, 35, 1);
		box-shadow: 0px 0px 5px 0px black;
		border-radius: 5px;
	}

	.categories {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		padding: 5px;
		box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);

		button {
			background-color: rgba(0, 0, 0, 0.5);
			color: rgba(255, 255, 255, 0.75);
			border-radius: 3px;

			box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

			text-transform: uppercase;
			outline: none;

			flex: 1 1 0;
			margin: 1.5px;

			&.active {
				background-color: rgba(29, 132, 230, 1.0);
			}
		}
	}

	.container {
		position: relative;
		display: grid;
		grid-template-rows: 10fr 32px;
		gap: 2.5px;

		height: 50vh;
		max-height: 50vh;

		width: 100%;
		padding: 0;

		.options {
			padding: 5px;
			overflow-y: auto;

			&::-webkit-scrollbar {
				display: none;
			}

			&::v-deep .container, &::v-deep .container-three, &::v-deep .container-four {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
				gap: 5px;

				margin-bottom: 5px;
				padding: 5px;

				background-color: rgba(0, 0, 0, 0.5);
				border-radius: 3px;

				.option {
					padding: 12px;
					border-radius: 3px;
					background-color: #232323;
					color: rgba(255, 255, 255, 0.75) !important;

					&.range {
						display: grid;
						grid-template-rows: 1fr 0.5fr;
					}

					&.reset {
						display: grid;

						span {
							font-size: 14px;
						}

						button {
							background-color: #b91919;
							margin-left: auto;
							padding: 2px 8px;
						}
					}

					.label-container {
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding-bottom: 5px;

						span {
							font-size: 13px !important;
							width: 65%;

							&.counter {
								font-size: 10px !important;
								width: 30%;
								text-align: right;
							}
						}
					}

					.split-controls {
						display: grid;
						grid-template-columns: 1fr 1fr;
						gap: 12px;
						width: 100%;
					}

					.controls {
						display: grid;
						grid-template-columns: 4fr 3fr 4fr;
						gap: 12px;

						input {
							width: 100%;
							font-size: 14px;
							text-align: center;
							outline: none;
							color: rgba(255, 255, 255, 0.75);

							&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
								-webkit-appearance: none;
								margin: 0;
							}
						}
					}

					.control > input {
						width: 100%;
						height: 5px;
						appearance: none;
						outline: none;

						transition: opacity .2s;
						border-radius: 9px;
						background-color: rgba(255, 255, 255, 0.2);

						&:hover {
							opacity: 1;
						}

						&::-webkit-slider-thumb {
							appearance: none;
							width: 12.5px;
							height: 12.5px;

							border-radius: 10px;
							cursor: pointer;
							transition: 0.2s;

							background-color:rgba(2, 96, 184, 1.0);
						}

						&::-webkit-slider-thumb:hover {
							width: 15px;
							height: 15px;
						}
					}

					.color-controls {
						width: 100%;
						display: grid;

						grid-template-columns: repeat(10, 1fr);
						gap: 10px;

						input {
							appearance: none;

							width: 20px;
							height: 20px;

							outline: 2.25px solid rgba(0, 0, 0, 0.5);

							&:checked {
								outline: 2.25px solid rgba(255, 255, 255, 1.0);
							}
						}
					}

					button {
						padding: 4px 0;
						background-color: #0260b8;
						border-radius: 3px;

						box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
						text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
						outline: none;

						&.active {
							background-color: #1d84e6;
						}
					}
				}
			}

			&::v-deep .container-three {
				display: grid;
				grid-template: [row1-start] 'a a' 1fr [row1-end] [row2-start] 'b b' auto [row2-end] / 1fr 1fr;

				.color, .input:last-child {
					grid-area: b;
				}

				.input:last-child > .controls {
					grid-template-columns: 1fr 3fr 1fr !important;
				}
			}

			&::v-deep .container-four {
				display: grid;
				grid-template: [row1-start] 'a a' 1fr [row1-end] [row2-start] 'b b' auto [row2-end] [row3-start] 'c c' auto [row3-end] / 1fr 1fr;

				.color {
					grid-area: b;

					&:last-child {
						grid-area: c;
					}
				}
			}
		}

		.camera {
			display: grid;
			border-radius: 5px;

			grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
			box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.3);

			svg {
				margin: auto;
				font-size: 16px;
				color: rgba(255, 255, 255, 0.75);
			}
		}
	}

	.footer {
		display: grid;
		grid-template-rows: repeat(3, 1fr);

		gap: 5px;
		padding: 5px;
		color: rgba(255, 255, 255, 0.75);

		&::v-deep .footer-container {
			padding: 5px;

			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 3px;

			.option {
				display: grid;
				grid-template-rows: auto;
				width: 100%;

				padding: 5px 12px;
				border-radius: 3px;
				background-color: #232323;

				.label-container {
					display: flex;
					flex-direction: row;

					justify-content: space-between;
					align-items: center;

					span {
						font-size: 13px !important;
						width: 65%;

						&.counter {
							font-size: 10px !important;
							width: 30%;
							text-align: right;
						}
					}
				}

				.control > input {
					width: 100%;
					height: 5px;
					appearance: none;
					outline: none;

					transition: opacity .2s;
					border-radius: 9px;
					background-color: rgba(255, 255, 255, 0.2);

					&:hover {
						opacity: 1;
					}

					&::-webkit-slider-thumb {
						appearance: none;
						width: 12.5px;
						height: 12.5px;

						border-radius: 10px;
						cursor: pointer;
						transition: 0.2s;

						background-color:rgba(2, 96, 184, 1.0);
					}

					&::-webkit-slider-thumb:hover {
						width: 15px;
						height: 15px;
					}
				}
			}
		}
	}
}