html, .container {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: flex-start;
    z-index: 999;
    padding: 3% 0;

    .top-bar {
        display: flex;
        align-items: center;
        color: black;
        height: 6%;
        padding: 0 6%;
        padding-bottom: 3%;
		width: 100%;
		justify-content: center;

		svg {
			font-size: 0.9rem;
			color: #1DA1F2;
		}

		.brand-name {
			font-size: 0.9rem;
			margin-left: 2%;
		}
    }

    .tweets-list {
        height: 94%;
        width: 100%;
        overflow-y: scroll;
        background-color: white;
        box-shadow: 0px 0px 5px 0px rgba(219, 219, 219, 1);
        padding: 5%;
        border-top: solid 1px #d6d6d6;
        border-bottom: solid 1px #d6d6d6;
        display: flex;
        flex-wrap: nowrap;
        border-radius: 10px;
        flex-direction: column;
        flex-flow: column;
		justify-content: flex-start;
        position: relative;

        .button {
			position: absolute;
			z-index: 99;
			right: 5%;
			bottom: 2%;
        }

        &::-webkit-scrollbar {
            display: none;
		}

		.empty-list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;

			svg {
				width: 100%;
    			height: 15%;
			}

			span {
				width: 100%;
				text-align: center;
				font-size: 0.9rem;
				margin-top: 5%;
			}
		}

		& > div {
			overflow: auto;

			&::-webkit-scrollbar {
				display: none;
			}

			.tweet {
				margin: 2%;

				.tweet-square {
					height: fit-content;
					width: 100%;

					position: relative;
					display: flex;

					align-items: center;
					padding: 2% 3%;
					flex: 0 1 auto;
					flex-direction: column;
					border-radius: 2px;
					background: #009bf5;
					text-align: left;
					box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
					color: white;
					margin-bottom: 5%;

					::v-deep > * {
						width: 100%;
					}

					::v-deep .retweet-info {
						font-size: 0.45rem;

						.name {
							margin-left: 2%;
							font-size: 0.55rem;
						}
					}

					::v-deep .account-info {
						display: flex;
						font-size: 0.7rem;
						align-items: center;

						.name {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							font-weight: bold;
						}

						.username {
							margin-left: 2%;
							font-size: 0.6rem;
						}
					}

					::v-deep .content {
						margin: 3% 0;
						font-size: 0.7rem;

						.hashtag {
							color: blueviolet;
						}
					}

					::v-deep .bottom-bar {
						display: flex;
						font-size: 0.6rem;
						align-items: center;

						& > :first-child {
							margin-right: 6%;
						}

						.time {
							position: absolute;
							font-size: 0.5rem;
							right: 5%;
							text-align: right;
						}
					}
				}
			}
		}
	}
}