.actionbar {
	font-family: 'Quantico', sans-serif;
	position: absolute;
	height: 110px;

	bottom: 5%;
	left: 50%;
	transform: translate(-50%);

	display: grid;
	grid-template-columns: repeat(4, 90px);
	gap: 3px;

	.slot {
		position: relative;
		width: 100%;
		height: 100%;

		background-color: rgba(0, 0, 0, 0.5);
		border: 1px solid rgba(54, 52, 52, 0.5);

		display: grid;
		grid-template-rows: 98.28px 5% 10%;

		.id {
			position: absolute;
			top: 0px;
			left: 0px;

			font-size: 0.6rem;
			padding: 0 2px;
			background-color: white;
			color: black;
		}
	}
}
