html, .container {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;

    font-family: 'Quantico', sans-serif;

    background-image: url(https://cdn.discordapp.com/attachments/574245211182596125/730811857882972300/a161744ca7f77066fbc91a276a2ac26d.jpg);
    background-size: cover;

    max-width: 100%;

    .vehicle-shop {
        position: absolute;
        height: 47%;
        text-align: center;
        width: 12.5%;
        right: 2%;
        top: 5%;

        .menu-title {
            height: 5%;
            color: white;
            margin-top: 1%;

            background-color: #333333;
        }

        .vehicle-class {
            padding: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 94%;

            .button {
                width: 100%;
                padding: 1.5%;
                border-left: 1.2px solid white;
                border-right: 1.2px solid white;
                border-bottom: 1.2px solid white;
                color: white;

                font-size: 0.8rem;
            }

            :first-child {
                border-top: 1.2px solid white;
            }

            .close {
                border: 1.2px solid white;
                text-align: center;
                margin-top: 5%;
                width: 55%;
                padding-left: 15%;
                padding-right: 15%;
                padding-top: 2.5%;
                padding-bottom: 2.5%;
                font-size: 0.8rem;
                color: white;
            }
        }

        .vehicle-list {
            padding: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 94.5%;
            background-color: rgba(0, 0, 0, 0.5);

            color: white;
            font-size: 0.8rem;

            .class {
                width: 100%;
                border: 1.2px solid white;
                padding: 2%;
            }

            .list {
                height: 80%;
                width: 100%;
                border-left: 1px solid white;
                border-right: 1px solid white;
                border-bottom: 1px solid white;

                .v-list-item {
                    padding: 0;
                    min-height: initial;

                    .v-list-item__content {
                        padding: 0.5% 3%;
                        flex: 0;
                        display: block;
                        font-size: 0.7rem;
                        color: white;
                        overflow: initial;
                    }
                }

                .v-item--active {
                    background: white;

                    :first-child {
                        color: black !important;
                    }
                }
            }

            .button-back {
                border: 1.2px solid white;
                text-align: center;
                margin-top: 5%;
                width: 55%;
                padding-left: 15%;
                padding-right: 15%;
                padding-top: 2.5%;
                padding-bottom: 2.5%;
                font-size: 0.8rem;
                color: white;
            }
        }
    }

    .vehicle-stats {
        position: absolute;
        width: 12.5%;
        right: 2%;

        top: 53%;
        height: 23%;
        padding: 0.5%;

        background-color: rgba(0, 0, 0, 0.5);
        font-size: 0.7rem;
        color: white;

        .stats-title {
            font-size: 1rem;
        }

        .speed, .aceleration, .brakes, .control {
            margin-top: 4%;
            display: flex;

            .name {
                border-bottom: 1px solid white;
                margin-right: 2.5%;
                width: 90%;
            }

            .percentage {
                background-color: #7A7A7A;
                padding: 2px 5px;
            }
        }

        .vehicle-info {
            display: flex;
            margin-top: 5%;
            justify-content: center;

            .traction, .stock, .price {
                border-right: 1px solid white;
                text-align: center;
                padding: 5px;
                width: 33%;

                .name {
                    font-size: 0.8rem;
                }

                .text {
                    font-size: 0.5rem;
                }
            }

            .price {
                border: none !important;
            }
        }
    }
}