@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}

* {
    outline: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

.btn-spawn {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
    color: #55B837;
    box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.35);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 10px 24px; 
    margin: 10% 8px 2% 10%;
    cursor: pointer; 
    width: 225px; 
    display: block;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
}

.btn-lastloc {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
    color: #AACFDF;
    box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.35);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 10px 24px; 
    margin: 10% 8px 0% 10%;
    cursor: pointer; 
    width: 225px; 
    display: block;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
}

.btn-loc {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
    color: white;
    box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.35);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 10px 24px; 
    margin: 10% 8px 0% 10%;
    cursor: pointer; 
    width: 225px; 
    display: block;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
}