.dialogs {
	font-family: 'Quantico', sans-serif;
	position: absolute;
	animation-duration: 1s;

	display: grid;
	gap: 15px;

	width: 35%;
	padding: 12px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: ivory;
	border: 1px solid white;
	background-color: rgba(9, 10, 14, 1);
	text-transform: uppercase;

	h3 {
		font-size: 3vh;
		text-align: center;
		color: rgba(255, 255, 240, 0.5);
	}

	.inputs-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 50px);
		gap: 15px;

		div {
			display: grid;
			grid-template-rows: auto 1fr;
			grid-template-columns: 1fr;

			padding: 0 3.5vw;
			font-size: 1vh;
			text-align: center;

			&.error {
				background-color: transparent !important;
				border: none !important;

				& > input,
				select {
					border-color: rgba(255, 0, 0, 0.4);
				}
			}

			input,
			select {
				font-family: 'Quantico', sans-serif;

				border: 2px solid rgba(255, 255, 255, 1);
				background-color: rgba(22, 25, 35, 0.4);
				font-size: 1.3vh;

				outline: none;
				padding: 2%;
				text-align: center;
				appearance: auto;
				color: rgba(255, 255, 240, 0.5);

				&::-webkit-calendar-picker-indicator {
					filter: invert(1);
				}

				option {
					background-color: rgba(22, 25, 35, 0.9);
				}
			}
		}
	}

	.bottom {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		gap: 50%;
		height: 4vh;

		button {
			font-family: 'Quantico', sans-serif;

			border: 2px solid rgba(255, 255, 255, 1);
			background-color: rgba(22, 25, 35, 0.4);
			color: ivory;

			font-size: 1.3vh;
			outline: none;
			text-transform: uppercase;

			&:first-child {
				border-color: rgba(239, 0, 0, 1);

				&:hover {
					border-color: rgba(22, 25, 35, 0.7);
					background-color: rgba(239, 0, 0, 1);
				}
			}

			&:not(.loading):hover {
				background-color: rgba(255, 255, 255, 1);
				border-color: rgba(22, 25, 35, 0.4);
				color: rgba(12, 12, 12, 1);
			}

			&.loading {
				background-color: rgb(60, 60, 60, 0.9);
				border-color: rgba(22, 25, 35, 0.4);

				svg {
					margin-left: 2.5px;
				}
			}
		}
	}
}
