html, .container {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .notificationsList {
        width: 30%;
        position: absolute;
        right: 10%;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;

        .notification {
            padding: 7px;
            width: fit-content;
            border-radius: 5px;
            margin: 5px;
            font-size: 12px;
            font-weight: bold;
            color: white;
        }

        .success {
            background: rgb(114, 204, 114);
        }

        .inform {
            background-color: rgb(249, 176, 21);
        }

        .error {
            background: rgb(224, 50, 50);
        }
    }
}