.jobs {
	font-family: 'Quantico', sans-serif !important;

	display: grid;
	grid-template-rows: auto 1fr;
	gap: 5px;

	& > .top {
		display: grid;
		grid-template-columns: auto auto;
		padding: 0 6%;

		gap: 5px;
		font-size: 0.9rem;
		font-weight: bold;

		align-items: center;
		justify-content: center;

		svg {
			color: #f88f01;
		}
	}

	.app {
		display: grid;
		grid-template-rows: 1fr auto;
		grid-template-columns: 1fr;

		background: #222831;
		justify-content: flex-start;
		padding: 5% 2%;

		overflow-y: scroll;
		border-radius: 10px;
		box-shadow: 0px 0px 5px 0px rgba(219, 219, 219, 1);

		&::-webkit-scrollbar {
			display: none;
		}

		&.empty {
			display: flex;
			flex-direction: column;

			justify-content: center;
			align-items: center;
			padding: 5% 10%;

			.list {
				display: grid;
				grid-template-rows: repeat(5, 35px);

				gap: 15px;
				width: 100%;
				margin-bottom: 15%;

				.job {
					display: grid;
					grid-template-columns: 1fr auto;
					gap: 15px;

					justify-content: center;
					align-items: center;
					padding: 0 5%;

					background: #dddddd;
					border-radius: 3px;
					box-shadow: 0px 0px 2.5px 0px black;

					font-size: 0.8rem;
					text-transform: uppercase;

					font-weight: bold;
					color: #30475e;

					svg {
						font-size: 1.25rem;
					}
				}
			}

			button {
				width: 100%;
				height: 35px;

				border: none;
				outline: none;

				background:  #f05454;
				border-radius: 3px;
				box-shadow: 0px 0px 2.5px 0px black;

				font-size: 1rem;
				font-weight: bold;
				color: #dddddd;
			}
		}

		.content {
			display: grid;
			align-items: center;
			grid-template-rows: auto auto;

			.members {
				display: grid;
				grid-template-rows: repeat(4, auto);
				width: 100%;
				gap: 5px;

				.member {
					display: grid;
					grid-template: [row1-start] 'name name' 1fr [row1-end] [row2-start] 'money button' auto [row2-end] / 1fr 1fr;
					gap: 5px;

					padding: 5px;

					color: ivory;
					text-align: center;
					border-radius: 3px;

					.name {
						grid-area: name;

						color: ivory;
						font-weight: bold;
					}

					.money {
						grid-area: money;

						background: #0c890a;
						border-radius: 3px;
						font-size: 1.2vh;
					}

					button {
						font-family: 'Quantico', sans-serif !important;

						grid-area: button;
						padding: 0;
						height: 100%;

						border: none;
						border-radius: 3px;

						font-size: 1.2vh;
						text-transform: uppercase;
						background: #dddddd;

						&.kick {
							background: #f05454;
							color: ivory;
							outline: none;

							&:hover {
								background: ivory;
								font-weight: bold;
								color: black;
							}
						}
					}
				}
			}

			.informations {
				display: grid;
				grid-template-rows: auto 1fr;

				gap: 5px;
				padding: 5px;
				border-radius: 3px;

				font-weight: bold;
				text-align: center;
				color: ivory;

				& > span {
					color: #dddddd;
				}

				.information {
					display: grid;
					grid-template: 'a a' 'b b';
					gap: 5px;

					font-size: 0.7em;
					font-weight: normal;

					span {
						background: #30475e;
						border-radius: 3px;

						&:last-child {
							grid-area: b;
							background: #dddddd;

							font-weight: bold;
							color: #222831;
						}
					}
				}
			}
		}

		.bottom {
			display: grid;
			grid-template-rows: 25px;
			gap: 5px;

			justify-content: center;
			padding: 2%;

			button {
				font-family: 'Quantico', sans-serif;

				box-shadow: 0px 0px 2.5px 0px black;
				border-radius: 3px;
				border: none;

				text-transform: uppercase;
				background: #ff0000;

				outline: none;
				width: fit-content;
				color: ivory;

				&:hover {
					background: ivory;
					font-weight: bold;
					color: black;
				}
			}
		}
	}
}