html, .container {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;

    font-family: 'Quantico', sans-serif;

    .background {
        background-color: rgba(0, 0, 0, 0.5);
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(160, 163, 161, 0.7);
        border-radius: 1px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(160, 163, 161, 0.7);
    }

    .placeholder {
        .p-slot {
            position: absolute;
            width: 115px;
            height: 140px;
            float: left;

            display: flex;
            flex-direction: column;
            align-items: center;

            opacity: 0.5;

            z-index: 10 !important;

            .p-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100% !important;
                height: 100% !important;

                .p-item-image {
                    width: 95px;
                    height: 117px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .p-item-durability {
                    width: 100%;
                    font-size: 0.70vh;
                    height: 7%;
                    text-align: center;
                    color: white;
                    background-color: green;
                }

                .p-item-name {
                    width: 100%;
                    font-size: 8px;
                    height: 9%;
                    color: white;
                    text-align: center;
                    background-color: rgba(54, 52, 52, 0.5);
                }
            }
        }
    }

    .inventory {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        padding-top: 10%;
        padding-left: 10%;
        padding-right: 10%;

        .inventory-info {
            width: 100%;
            height: 5%;
            display: flex;

            .player-info {
                display: flex;
                width: 60%;
                height: 100%;
                flex-direction: column;
            }

            .secondary-info {
                display: flex;
                width: 40%;
                height: 100%;
                flex-direction: column;
            }

            .player-info, .secondary-info {
                .inventory-name, .inventory-weight {
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    margin-left: 2px;

                    color: white;
                    text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
                }

                .inventory-name > span {
                    font-size: 1.4vh;
                    font-weight: bold;
                    height: 100%;
                }

                .inventory-weight > span {
                    font-size: 1vh;
                    height: 100%;
                }
            }
        }

        .inventory-container {
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: row;

            .player-inventory, .secondary-inventory {
                height: 100%;
                width: 40%;
                overflow-y: scroll;

                .slot {
                    position: relative;
                    width: 115px;
                    height: 140px;
                    float: left;
                    margin-left: 1px;
                    margin-top: 1px;

                    background-color: rgba(0, 0, 0, 0.5);
                    border: 1px solid rgba(54, 52, 52, 0.5);
                    transition: background-color 0.2s;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .slot-id {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        font-size: 0.6rem;
                        padding-right: 4px;
                        padding-left: 2px;
                        background-color: white;
                        color: black;
                    }

                    .item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100% !important;
                        height: 100% !important;

                        &[aria-grabbed='true'] {
                            outline: transparent;
                        }

                        .item-info {
                            position: absolute;
                            top: 0px;
                            right: 2px;
                            font-size: 0.6rem;
                            color: white;
                        }

                        .item-image {
                            width: 95px;
                            height: 117px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .item-durability {
                            width: 100%;
                            font-size: 0.45rem;
                            height: 7%;
                            text-align: center;
                            color: white;
                            background-color: green;
                            align-self: start;
                        }

                        .destroyed {
                            width: 100%;
                            background-color: #a60505;
                        }

                        .item-name {
                            width: 100%;
                            font-size: 0.5rem;
                            height: 9%;
                            color: white;
                            text-align: center;
                            background-color: rgba(0, 0, 0, 0.6)
                        }
                    }
                }
            }

            .inventory-controls {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 20%;
                height: 100%;

                .count, .close, .use {
                    height: 10%;
                    width: 40%;

                    margin-bottom: 5%;
                    text-align: center;

                    background-color: rgba(0, 0, 0, 0.5);
                    border: 1px solid rgba(54, 52, 52, 0.5);
                    color: white;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    outline: transparent !important;

                    font-size: 0.7rem;
                }

                .count:focus {
                    outline: #fca503 solid 1px !important;
                }

                :last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}